// Clear floats
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Text gradient: takes 2 colors -> left to right//
@mixin text-gradient($color-1, $color-2) {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    rgba($color-1, 0.8),
    rgba($color-2, 0.8)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

// Card background gradient: takes 2 colors -> top left to bottom right
@mixin card-gradient($top-left, $bottom-right) {
  background-image: linear-gradient(
    to right bottom, 
    $top-left, 
    $bottom-right
  );
}

// Card picture: takes 2 colors -> top left to bottom right. And takes an img string eg. 'myPic.jpg' 
@mixin card-picture($top-left, $bottom-right, $image-name) {
  background-image: linear-gradient(
    to right bottom, 
    $top-left, 
    $bottom-right
  ), 
  url(../img/#{$image-name});
}

// Card heading with opacity: take 2 colors -> top left to bottom right
@mixin card-heading-opacity($top-left, $bottom-right) {
  background-image: linear-gradient(
        to right bottom, 
        rgba($top-left, .85), 
        rgba($bottom-right, .85) 
      );
}

// Box shadow
@mixin box-shadow(){
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
}

// Rounded buttons: takes background color and text color
@mixin rounded-button($background-color, $text-color){
  background-color: $background-color;
  color: $text-color;

  &::after {
    background-color: $background-color;
  }
}

// Media Queries

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 -  1800]: Normal styles apply
1800px +:       Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px. em's better for media queries.
*/

@mixin respond($breakpoint){
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; //600px
  }
  @if $breakpoint == tab-port {
    @media screen and (max-width: 56.25em) { @content }; //900px
  }
  @if $breakpoint == tab-land {
    @media screen and (max-width: 75em) { @content }; //1200px
  }
  @if $breakpoint == big-desktop {
    @media screen and (min-width: 112.5em) { @content }; //1800px
  }
}

